.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width:max-content; 
  height:max-content; 
  margin-bottom: 10px;
}

.welcomeMessage {
  color: white;
}
