.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  background: #f1f1f1;
}

.container {
  padding: 20px;
}

.card {
  border-radius: 25px;
  background-color: rgb(154, 153, 153);
}

.profileList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}


.profileImage {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  transform: scale(0.75);
  transition: transform 0.3s ease-in-out;
}

.profileBox:hover .profileImage {
  transform: scale(1.1);
}

.pictureSpace {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profileName {
  font-size: 23px;
  font-weight: bold;
  background: #f1f1f1;
  color: black;
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
}


div > p {
  opacity: 1;
}