html, body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #f8f8f8;  
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);  
}

.logoContainer {
  display: flex;
  align-items: center;  
  cursor: pointer;
}

.logoContainer:hover {
  opacity: 0.7; 
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLinks li {
  margin: 0 20px;
}

.navLinks li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #666;
  text-decoration: none;
}

.profileMenu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileOptions {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  min-width: 150px;
  z-index: 1;
  display: none;
  margin-top: 5px;
}

.profileMenu:hover .profileOptions {
  display: block;
}

.logoutBtn {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  border-radius: 7%;
  padding: 8px 16px;
}

.logoutBtn:hover {
  text-decoration: none;
}

.profileButton {
  background-color: #333;
  color: #fff;
  border: none;
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 7%;
}

.profileButton:hover {
  background-color: #555;
}