.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cancelLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loginRedirect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message {
  margin-top: 0;
  height: 20px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}


.label {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
