* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #f2f4f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: canada-type-gibson, sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2385cfee' fill-opacity='0.25'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  --primary: #00a0df;
  --background: #f2f4f8;
  --card-background: white;
  --border: rgb(220, 220, 220);
}

#root {
  height: 100%;
}

body {
  overflow: auto;
  padding-top: 80px;
}

article img {
  width: 80px;
}

h1, h3 { margin: 7px 0px 14px 0px; }

h1 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 2px;
}

h5 {
  font-size: 12px;
  font-weight: 500;
}

p {
  margin: 0;
  opacity: .4;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  text-align-last: center;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

form {
  width: 100%;
  display: flex;
  max-width: 500px;
  border-radius: 5px;
  flex-direction: column;
  background-color: white;
  padding: 21px 21px 28px 21px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}
